/* @tailwind base; */
/* @tailwind components;
@tailwind utilities; */

html {
  height: 100%;
}

body {
  height: 100%
}

:root {
  --color-logo_main : #F0B90B;
  --color-primary_main : rgb(22, 26, 30);
  --color-secondary_main : rgb(252, 213, 53);
  --color-background : rgb(22, 26, 30);
  --color-paper_lighter : rgb(43, 49, 57);
  --color-paper_main : rgb(30, 32, 38);
  --color-paper_weird : rgb(43, 47, 54);
  --color-text_primary: #EAECEF;
  --color-text_secondary: rgb(183, 189, 198);
  --color-text_disabled: rgba(249,246,246,0.38);
  --color-text_tertiary: #848E9C;
  --color-error_main: rgb(246, 70, 93);
  --color-success_main: rgb(14, 203, 129);
  --color-divider: #232427;
}
.theme-light {
  --color-logo_main : rgb(240, 185, 11);
  --color-primary_main : rgb(250, 250, 250);
  --color-secondary_main : rgb(252, 213, 53);
  --color-background : rgb(250, 250, 250);
  --color-paper_lighter : rgb(230, 232, 234);
  --color-paper : rgb(255, 255, 255);
  --color-paper_weird : rgb(230, 232, 234);
  --color-text_primary: rgb(30, 35, 41);
  --color-text_secondary: rgb(112, 122, 138);
  --color-text_disabled: rgba(249,246,246,0.38);
  --color-text_tertiary: rgb(112, 122, 138);
  --color-error_main: rgb(207, 48, 74);
  --color-success_main: rgb(3, 166, 109);
  --color-divider: rgb(195, 199, 205);
}
.only-xl-desktop-view {
  @apply hidden xl:block
}
.only-desktop-view {
  @apply hidden lg:block
}
.only-tablet-view {
  @apply hidden md:block lg:hidden
}
.only-mobile-view {
  @apply md:hidden
}


.primary-element {
  @apply bg-primary_main
}
.btn-footer {
  @apply bg-primary_main text-xs text-text_secondary hover:text-secondary_main
}
.stack {
  @apply flex content-center justify-between flex-wrap

}

